*{
    background-color: black;
    text-align: center;
    color: white;
    
}
h1{
    color: darkblue;
    text-align: center;
}
button{
    background-color: lightblue;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    color: black;
}
